* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Replace with your desired background color */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  width: 600px; /* Adjust width as needed */
  max-width: 80%; /* Responsive width for smaller screens */
}
.popup-header {
  display: flex; /* Allow for a close button or title */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  padding-bottom: 15px; /* Spacing for content below header */
  border-bottom: 1px solid #ddd; /* Optional divider line */
}

.popup-title {
  /* Replace with your desired font size and weight */
  font-size: 18px;
  font-weight: bold;
}

.popup-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.popup-content {
  padding: 20px; /* Adjust padding for content */
  position: relative;

}
.signUpModal-header {
  display: flex; /* Allow for a close button or title */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  padding-bottom: 10px; /* Spacing for content below header */
  border-bottom: 1px solid #ddd; /* Optional divider line */
}

.signUpModal-title {
  /* Replace with your desired font size and weight */
  font-size: 18px;
  font-weight: bold;
}

.signUpModal-close {
  cursor: pointer; /* Indicate clickable close button */
}

.signUpModal-content {
  padding: 20px; /* Adjust padding for content */
  position: relative;
}


.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

.home-container {
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.navbar-menu-container {
  display: none;
}
.navbar-links-container {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 1200px;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  align-items: flex-end;
}
.demo-button {
  padding: 0.9rem 1.75rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.demo-button:hover {
  background-color: white;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 2rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -200px;
  right: -150px;
  z-index: -2;
  max-width: 600px;

}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.rounded-image {
  width: 600px; /* Set the width and height according to your design */
  height: 500px;
  border-radius: 50%; /* Make the container round */
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}
.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-logo-container{
  position: absolute;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
  .demo-button {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}


.banner {
  background-color: #e18317; /* Blue color */
  color: rgb(150, 68, 68);
  padding: 30px;
  text-align: center;
  height: 28%; /* Set the height to 18% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  /* Adjust the banner height for smaller screens */
  .banner {
    height: 22%; /* Set the height to 12% of the viewport height for smaller screens */
  }
}

.create-room-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  height: 50px
}

.create-room-btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}


.room-list {
  margin-top: 20px;
}

.play-area {
  display: flex; /* Arrange elements horizontally */
  flex-direction: column; /* Stack elements vertically */
  gap: 1rem; /* Spacing between elements */
  margin: 2rem auto; /* Add margin for better visual separation */
  max-width: 800px; /* Set a maximum width for responsiveness */
  padding: 1rem; 
  align-items: center;  
  border: 1px solid #ddd; /* Optional border for definition */
  border-radius: 5px; /* Optional rounded corners */
}

.create-room {
  display: flex;
  justify-content: space-between; /* Align elements horizontally */
  align-items: center;
   /* Align elements vertically */
}

.room-list h2 {
  margin-bottom: 10px;
}

.room-list ul {
  list-style: none;
  padding: 0;
}

.room-list li {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
}
.room-list span {
  margin-left:10px; /* Add space between room names and buttons */
}
.room-list button {
  padding: 5px 10px;
  background-color: #06294f;
  color: white;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  width:50px;
}
.room-list button:hover {
  background-color: #6894c4;
}

/* ProfilePage.css */

.profile-page {

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  /* background-color: #333; */
  
}

.banner-image {
  width: 100%;
  max-height: 200px; /* Limit maximum height */
  object-fit: cover;
  z-index: 1; /* Ensure banner is behind profile image */
}

.user-profile-image {
  position: absolute;
  top: 23%; /* Overlap 10% from the top */
  left: 12%;
  transform: translate(-50%, -50%);
  width: 20%; /* Responsive width */
  max-width: 150px; /* Limit maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it a circle */
  overflow: hidden;
  z-index: 2; /* Ensure profile image is above banner */
}

.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.username {
  position: absolute;
  top: 20%; /* Adjust position as needed */
  left: 9.7%;
  /* transform: translateX(-50%); */
  font-size: 1rem; /* Adjust font size as needed */
  color: #707173;
}

.balance-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 135px;
  top: 440px;
  left: 3%;
  /* margin-left:80px;
  margin-top: 200px; */
  /* justify-content: space-between; Distributes content horizontally */
  border: 2px solid #3d3535; /* Optional border */
  border-radius: 8px; /* Optional rounded corners */
}

.balance-data {
  display: flex;
  flex-direction: row;
  align-items: baseline; /* Aligns amount and currency vertically */
}

.balance-amount {
  font-size: 24px;
  font-weight: bold;
}

.balance-currency {
  margin-left: 10px; /* Spacing between amount and currency */
}
.hello-text{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-label{
  font-size: 22px;
  font-weight: bold;
}
.contact-data{
  font-size: 20px;
}
.contact-info {
 display: flex;
 position: absolute;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 360px;
 margin-left: 590px;/* Add spacing above the contact info section */
}
.contact-details{
  flex-direction: column;
  display: inline-flex;
  margin-left: 8px;
  align-items: flex-start;
  margin-top: 8px;
}
.contact-group {
  display: flex; /* Make icon and details a flex container (optional) */
  align-items: flex-start; 
  justify-content: left;
  flex-direction: row;
  padding-bottom: 7px;
  margin-top: 10px;
  /* Vertically align text with icons (optional) */
}

.contact-icon {
  margin-right: 10px; /* Spacing between icon and text */
}
.profile-content {
  display: flex; /* Make profile content a flex container */
  justify-content: space-between; /* Align items horizontally with space between */
  width: 80%; /* Optional: Set a width to limit content width */
  margin: 0 auto; /* Optional: Center the content horizontally */
}
.update-form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Make form fit container width */
  padding: 30px;
  margin-left: 210px;
  height: 200px;
  margin-top:220px;
  width: 630px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  
}

.form-row {
  display: flex;
  justify-content: space-between; /* Space labels and inputs horizontally */
  margin-bottom: 10px; 
}

.form-row label {
  width: 2%; /* Adjust label width (optional) */
  text-align: left;
}

.form-row input,
.form-row select {
  width: 25%; /* Adjust input and select width (optional) */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button-row {
  display: flex;
  justify-content: center; /* Align buttons to the right */
  margin-top: 10px; /* Add some spacing above buttons */
}
.info-and-form {
  display: flex; /* Make info and form a flex container */
  flex-direction: column;
  
  /* justify-content: space-between; */
  margin-left: 830px;
  width: 520px; /* Stack contact info and update form vertically */
}
.button-row button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Spacing between buttons */
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.save-button {
  background-color: #4CAF50; /* Green color for save button */
  color: white;
}

.save-button:hover {
  background-color: #45A049; /* Darker green on hover */
}
.cancel-button:hover {
  background-color: #9ea09e; /* Darker green on hover */
}
.user-details {
  position: absolute;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 8px; /* Rounded corners */
  /* padding: 20px; Add some padding */
  margin-top: 382px; /* Add some top margin */
  background-color: #f9f9f9;
  width: 700px;
  height: 280px;
  max-width: calc(100%-120px);
  margin-left: 1093px;
  margin-right: 10px; /* Light gray background color */
}

.user-details h3 {
  font-size: 20px; /* Larger font size for section heading */
  margin-bottom: 15px; /* Add some bottom margin below the heading */
}

.user-details-row {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 15px;
}

.user-details-column {
  flex: 1; /* Equal width for columns */
  display: flex;
}

.user-details-label {
  margin-right: 5px;
  margin-left: 25px; /* Add some right margin */
}

.user-details-value {
  flex: 1; /* Expand to fill remaining space */
  background-color: #ffffff; /* White background color */
  border: 1px solid #ddd; /* Gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Add some padding */
}

.user-details-value p {
  margin: 0;
}

.user-details strong {
  font-weight: bold;
  margin-right: 5px;
}
.edit-button{
  margin-top: 505px;
  width: 350px;
  height: 40px;
  margin-left: 454px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

}
.edit-button:hover{
  background-color: #c9a221;
}

/* For larger screens
@media screen and (min-width: 768px) {
  .user-details {
    margin-top: 402px;
    width: 700px;
    margin-left: 993px;
    margin-right: 10px;
  }

  .edit-button {
    margin-top: 505px;
    width: 350px;
    margin-left: 354px;
  }
} */

/* For smaller screens */
@media screen and (max-width: 767px) {
  .user-details {
    margin-top: 20px; /* Adjust as needed */
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .edit-button {
    margin-top: 20px; /* Adjust as needed */
    width: calc(100% - 20px);
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .profile-page {
    padding: 0px; /* Add padding for better spacing */
  }

  .user-profile-image {
    top: 22%; /* Overlap 10% from the top */
    left: 16.8%;
    /* top: -15%; Increase overlap for smaller screens */
  }
  .username {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    /* bottom: -110px;  */
    top: 32%;
    left: 14.8%;
    
  }
  .balance-container {
    margin-top: 10px;
    left: 5.2%;
    width: 360px;
    max-width: calc(100%-5px);
    
  }
}


.toss-section {
  margin-top: 20px;
}

.toss-section button {
  margin-right: 10px;
}

.player-selection {
  margin-top: 20px;
}

.players {
  display: flex;
  flex-wrap: wrap;
}

.player {
  margin-right: 10px;
  margin-bottom: 10px;
}

.selected-players {
  margin-top: 20px;
}

.selected-players ul {
  list-style-type: none;
  padding: 0;
}

.selected-players li {
  margin-bottom: 5px;
}

